@font-face {
  font-family: ubuntu;
  src: url('Ubuntu-R.ttf');
}

html, body {
  background-color:#292929;
  height: 100%;
}

body {
  /* This centers our contens vertically. */
  align-items: center;
  color: white;
  display: flex;
  font-family: ubuntu, sans-serif;
  /* This centers our sketch horizontally. */
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: 48px;
  left:auto;
  position: absolute;
  top:-20px;
}

#volControls {
  font-size: 14px;
  position: absolute;
  top: 100%;
}

#volText {
  left:-140px;
  position: absolute;
  top:-85px;
}

#volSlider {
  left:-75px;
  position: absolute;
  top:-70px;
}

#defaultCanvas0 {
  border-style: solid;
  border-width: 2px;
  color: white;
}

#resetButtonDiv {
  position: absolute;
  top: 100%;
  width: 200px;
}

#resetButton {
  position: absolute;
  top: -50px;
}
