html, body {
  height: 100%;
  background-color:#474747;
}

body {
  /* This centers our sketch vertically. */
  align-items: center;

  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  margin: 0;
}
